{% extends 'homepage.html' %} {% block title%} STUDENT {% endblock %} {% block modal %}

<div class="w-4/5 bg-white p-5 rounded-lg shadow-lg mt-10">
  <h1 class="text-2xl font-bold mb-5">STUDENTS</h1>

  <table
    class="table-auto border-collapse border border-gray-400 w-full bg-white p-10"
  >
    <thead class="">
      <tr class="bg-gray-200">
        <th class="p-2">First Name</th>
        <th class="p-2">Last Name</th>
        <th class="p-2">Student ID</th>
        <th class="p-2">Year Level</th>
        <th class="p-2">Age</th>
        <th class="p-2">Address</th>
        <th class="p-2">Program Title</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr class="text-center">
        <td class="p-2 border-b-1">{{student.first_name|upper}}</td>
        <td class="p-2 border-b-1">{{student.last_name|upper}}</td>
        <td class="p-2 border-b-1">{{student.student_ID}}</td>
        <td class="p-2 border-b-1">{{student.year_level}}</td>
        <td class="p-2 border-b-1">{{student.age}}</td>
        <td class="p-2 border-b-1">{{student.address}}</td>
        <td class="p-2 border-b-1">{{student.program_title}}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">NO STUDENT FOUND.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<form
  method="POST"
  class="w-1/5 flex flex-col p-5 bg-white mt-5 rounded-lg shadow-lg"
>
  <h1 class="text-xl font-bold mb-4">Add new Student</h1>
  {% csrf_token %}

  <label for="first_name">First Name</label>
  {{ form.first_name }}
  <label for="last_name">Last Name</label>
  {{ form.last_name }}
  <label for="student_ID">Student ID</label>
  {{ form.student_ID }}
  <label for="year_level">Year Level</label>
  {{ form.year_level }}
  <label for="age">Age</label>
  {{ form.age }}
  <label for="address">Address</label>
  {{ form.address }}
  <label for="program_title">Program Title</label>
  {{ form.program_title }}

  <button
    type="submit"
    class="mt-5 w-full py-2 bg-blue-400 self-center text-white font-bold rounded"
  >
    Submit
  </button>
</form>
{% endblock %}
